/* @font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/MonaspaceNeon-Regular.woff2') format('woff2'),
       url('/fonts/MonaspaceNeon-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monaspace Neon';
  src: url('/fonts/MonaspaceNeon-Bold.woff2') format('woff2'),
       url('/fonts/MonaspaceNeon-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.font-mono {
  font-family: 'Monaspace Neon', monospace;
} */

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 900;
  font-stretch: 125%;
}

.font-title {
  font-family: "Mona Sans";
}
